<div id="storyRules" class="border rounded p-1 mb-3">
    <label class="rule-name-title mb-0">{{ title }}</label>
    <div class="p-3">
        <div class="mb-1">
            <label for="storyTitle">Title</label>
            <input class="form-control" id="storyTitle" type="text" [(ngModel)]="storyRules.title" />
        </div>
        <div class="mb-3" *ngIf="storyRules.titleVariables.length > 0">
            <div>You can use the following variables:</div>
            <div *ngFor="let variable of storyRules.titleVariables">
                <div class="variable-title">
                    {{ variable.code }} - {{ variable.description }}
                </div>                    
            </div>
        </div>
        <div class="mb-3">
            <label>Descripton</label>
            <quill-editor [(ngModel)]="storyRules.description"></quill-editor>
        </div>
        <div class="mb-3">
            <label>Acceptance Criteria</label>
            <quill-editor [(ngModel)]="storyRules.acceptanceCriteria"></quill-editor>
        </div>
        <div>
            <div>
                <label>Tags</label>
            </div>
            <div>
                <app-tags [tags]="storyRules.tags" [defaultTags]="storyRules.defaultTags"></app-tags>
            </div>                    
        </div>
    </div>
</div>