<div class="modal-header">
    <h4 class="modal-title pull-left mr-3">New Statement Of Work</h4>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
        <span>&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="productSelect">Product</label>
        <select [(ngModel)]="statementOfWork.productId" class="custom-select" id="productSelect">
            <option value="0">Choose product</option>
            <option *ngFor="let product of products" [ngValue]="product.uid">{{ product.name }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="nameInput">Name</label>
        <input [(ngModel)]="statementOfWork.name" type="text" class="form-control" id="nameInput" placeholder="Name">
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
    <button class="btn btn-primary mr-2" type="button" (click)="onSave()">Save</button>
</div>
