.input-dropdown {
    position: relative;
    max-width: 15em;
    margin: auto;
}

.input-dropdown input {
    width: 100%;
    font-size: .875rem;
    padding-right: 1.6em;
    height: calc(1.2em + .75rem + 2px);
}

.input-icon {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0.3em;
}

.input-dropdown ul {
    list-style: none;
    position: absolute;
    padding: .5rem 0;
    margin: .025rem 0 0;
    font-size: .875rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    max-height: 15rem;
    overflow: auto;
    z-index: 1000;
    width: 100%;
    overflow-x: hidden;
}

.input-dropdown ul > li {
    cursor: pointer;
    padding: 0.4em;
    font-size: .875rem;
}

.input-dropdown ul > li:hover {
    background: gainsboro;
}

.up {
    margin: -.2rem 0 0;
    transform: translateY(-100%);
    top: 0;
}

.down {
    margin: .2rem 0 0;
}
  