<div id="featureRules" class="container p-3">
    <div class="rules-header">
        <div class="d-flex p-0">
            <input class="form-control w-50" [(ngModel)]="featureRules.templateName" />
            <button class="btn btn-primary ml-auto" type="button">Save</button>
        </div>
    </div>
    <div>
        <app-task-rules [title]="'Feature\'s Task'" [taskRules]="featureRules.featureTaskRules"></app-task-rules>
        <app-story-rules [title]="'Zero Story'" [storyRules]="featureRules.zeroStoryRules"></app-story-rules>
        <app-task-rules [title]="'Zero Task'" [taskRules]="featureRules.zeroTaskRules"></app-task-rules>
        <app-story-rules [title]="'Story'" [storyRules]="featureRules.storyRules"></app-story-rules>
        <app-task-rules [title]="'Task'" [taskRules]="featureRules.taskRules"></app-task-rules>
    </div>
</div>
