<div class="filter">
    <div class="d-flex bg-transparent filter align-items-center p-2">
        <div class="mr-1">
            <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-funnel' viewBox='0 0 16 16'>
                <path d='M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z'/>
            </svg>
        </div>
        <input placeholder="Filter by keyword" class="w-75 filter-input bg-transparent" type="text"/>
        <div class="ml-auto d-flex">
            <div dropdown *ngFor="let filterItem of filterItems" class="btn-group" [insideClick]="true">
                <button dropdownToggle type="button" class="filter-button d-flex align-items-center">
                    {{ filterItem.name }}
                    <div class="svg-chevron-down">
                        <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'>
                            <path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/>
                        </svg>
                    </div>
                </button>
                <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
                    <li *ngFor="let checkedItem of filterItem.checkedItems">
                        <div class="d-flex flex-column" (click)="onCheck(filterItem, checkedItem)">                        
                            <div class="d-flex align-items-center list-item">
                                <input class="mr-2" [ngModel]="checkedItem.checked" type="checkbox" />
                                <span>{{ checkedItem.value }}</span>                                        
                            </div>              
                        </div>
                    </li>
                    <li class="separator"></li>
                    <li>
                        <div class="d-flex clear-item">                                    
                            <button class="clear-button d-flex align-items-center ml-auto" (click)="onClear(filterItem)" [attr.disabled]="filterItem.anyChecked ? null : ''">
                                <div class="svg-x">
                                    <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill="currentColor" class='bi bi-x' viewBox='0 0 16 16'>
                                        <path d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/>
                                    </svg>
                                </div>
                                Clear
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>