/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.separator {
  background-color: rgba(0,0,0,.1);
  background-color: var(--palette-black-alpha-10,rgba(0, 0, 0, .1));
  height: 1px;
}

svg {
  display: block;
}

.rule-name-title {
  color: deepskyblue;
}

.variable-title {
  color: darkcyan;
}

.ql-toolbar {
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;
}

.ql-editor {
  min-height: 15em;
}

.ql-container {
  border-bottom-left-radius: 0.75em;
  border-bottom-right-radius: 0.75em;
}

.ql-container {
  font-size: 1em;
}

.spinner-border {
  height: 10em;
  width: 10em;
  border: 0.5em solid currentColor;
  border-right-color: transparent;
}

.ngx-datatable.material {
  box-shadow: none;
}

.ngx-datatable.scroll-vertical .datatable-body {
  overflow-x: hidden;
}

.datatable-row-wrapper, .datatable-body-row, .datatable-row-center {
  width: 100% !important;
}

.dropdown-menu {
  width: max-content;
}
