nav {
    transition: 0.3s;
}

a:hover {
    background: gainsboro;
}

.collapse-button:hover {
    color: #0366d6;
    cursor: pointer;
}

.collapse-button {
    width: 15%;
}

a {
    height: 2.5em;
    white-space: nowrap;
}
